.App {
  text-align: center;
  background-color: #fffaf3;
  max-height: 100%;
  min-height: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: #fffaf3;
  padding: 20px 40px;
}

.Navbar li,
.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2rem;
  color: #000000;
}

.custom-icon {
  width: 16px;
  height: 16px;
}
